<ClientConfigs><Sound>0</Sound><Music>1</Music><Version>0.0.8</Version><UserName>UserName</UserName><Quality Hight="7" Low="6">7</Quality><ServerArea></ServerArea><ServerIndex></ServerIndex><ServerAreaNew></ServerAreaNew><ServerIndexNew></ServerIndexNew><Account></Account><PassWord></PassWord><Fromaccount></Fromaccount><GameLanguage Language="Chinese，ChineseTW，Japanese，Korean，English">Chinese</GameLanguage><PlatformIP>http://192.168.0.133:8070/</PlatformIP><WWWServer_PC>http://192.168.0.182/</WWWServer_PC><WWWServer_IOS>http://192.168.0.182/IOS/</WWWServer_IOS><WWWServer_Android>http://192.168.0.182/Android/</WWWServer_Android><DreamFactionNewStages></DreamFactionNewStages></ClientConfigs>
